GOOGLE_CLIENT_ID=LukaLukaNightFever
GOOGLE_CLIENT_SECRET=mikuIsAlwaysMyQueen
DATABASE_URL="mysql://miku:luka123@localhost:3306/kawaidb?retry=true"
GMAIL_USER="oniichanmohentai@gmail.com"
GMAIL_PASSWORD="LukaLukaNightFever"
FRONTEND_URL=http://127.0.0.1:5173/
JWT_SECRET=LukaLukaNightFever
