<!DOCTYPE html>
<html>
<head>
    <title>Activate Your Account</title>
</head>
<body>
    <h1>Welcome to Our Website!</h1>
    <p>Thank you for signing up. To activate your account, please click the button below:</p>
    <a href="<%= activationLink %>">
        <button style="padding: 10px 20px; background-color: #007bff; color: #fff; border: none; border-radius: 5px;">Activate</button>
    </a>
    <p>If the button above doesn't work, you can also click <a href="<%= activationLink %>">here</a> or copy and paste the following URL into your browser:</p>
    <p><%= activationLink %></p>
    <p>Thank you!</p>
</body>
</html>

